<!DOCTYPE html>
<html lang="kr">
  <head>
    <meta http-equiv="Content-Type" content="text/html charset=UTF-8" />
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css" />
  </head>
  <body style="background-color: #FFFFFF; position: relative; width: 100%">
    <table border="0" cellpadding="0" cellspacing="0" style="background-color: #F8F9FC; font-family: Pretendard, arial, sans-serif; font-size: 16px; font-weight: 400; margin: auto; padding: 0 48px 48px 48px;">
      <thead>
        <tr>
          <th style="padding: 40px 0; text-align: center;">
            <img alt="logo" height="29" src="https://www.plip.kr/images/full_logo.png" width="80" />
          </th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>
            <table style="background-color: #FFFFFF; border-radius: 12px; text-align: center; width: 100%">
              <tbody>
                <tr>
                  <td style="padding: 40px 40px 24px 40px;">
                    <h2 style="color: #121A26; font-size: 20px; font-weight: 700; letter-spacing: -0.015em; margin: 0">플립에 오신 것을 환영합니다!</h2>
                  </td>
                </tr>
                <tr>
                  <td style="padding: 0 40px">
                    <p style="color: #384860; line-height: 1.6; margin: 0">안녕하세요, {{name}}님<br/>플립에 오신 것을 환영합니다!<br/><br/><b>아래의 버튼을 눌러 회원가입을 완료해주세요.</p>
                  </td>
                </tr>
                <tr>
                  <td style="padding: 24px 40px 40px 40px;">
                    <table align="center" border="0" cellpadding="0" cellspacing="0" style="margin: auto">
                      <tbody>
                        <tr>
                          <td style="background-color: #4380F9; border-radius: 8px; cursor: pointer; font-weight: 700; padding: 12px 24px;">
                            <p style="color:#FFFFFF; display: inline-block; margin: 0;">{## Verification ##}</p>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </td>
                </tr>
              </tbody>
            </table>
          </td>
        </tr>
        <tr>
          <td style="padding-top: 16px;">
            <table style="background-color: #FFFFFF; border-radius: 12px; text-align: center; width: 100%">
              <tbody>
                <tr>
                  <td style="padding: 24px 40px 8px 40px;">
                    <h2 style="color: #121A26; font-size: 16px; font-weight: 700; letter-spacing: -0.015em; margin: 0">인증을 요청하지 않았나요?</h2>
                  </td>
                </tr>
                <tr>
                  <td style="padding: 0 40px 24px 40px">
                    <p style="color: #384860; font-size: 14px; margin: 0">메일이 잘못 발송된 경우, <a>contact@plip.kr</a> 으로 문의 남겨주세요.</p>
                  </td>
                </tr>
              </tbody>
            </table>
          </td>
        </tr>
        <tr>
          <td>
            <table style="color: #9D9D9D; font-size: 14px; margin-top: 58px; text-align: center; width: 100%;">
              <tbody>
                <tr>
                  <td>
                    <p style="font-weight: 700; margin: 0 0 8px 0;">플립 Privacy clip, Plip</p>
                  </td>
                </tr>
                <tr>
                  <td>
                    <p style="margin: 0 0 8px 0;">©2023. TOVDATA Inc. All Rights Reserved.</p>
                  </td>
                </tr>
                <tr>
                  <td>
                    <a class="plip-link" href="https://www.plip.kr/terms" rel="noopener noreferrer" style="color: #7A7A7A; cursor: pointer; display: inline-block; text-decoration: none;" target="_blank">이용약관</a> | <a class="plip-link" href="https://plip.kr/pcc/b135d298-1c5f-456e-8627-28b05d2b60c3/privacy/3.html" rel="noopener noreferrer" style="color: #7A7A7A; cursor: pointer; display: inline-block; font-weight: 700; text-decoration: none;" target="_blank">개인정보처리방침</a>
                  </td>
                </tr>
              </tbody>
            </table>
          </td>
        </tr>
      </tbody>
    </table>
  </body>
</html>